/* input styles */
.form-title {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 1rem;
}

.form-line {
    display: block;
    margin-bottom: 1rem;

    input {
        display: flex;
        width: 100%;
        height: 4rem;
        padding: 0 1.4rem;
        border: 1px solid #000;
        border-radius: 5px;
        box-sizing: border-box;

        &:hover,
        &:focus,
        &:active {
            box-sizing: border-box;
            border-color: red;
        }

        &::placeholder {
            font: inherit;
        }
    }

    span {
        flex: none;
        display: block;
        width: 100%;
        margin-top: 1rem;
        color: red;
        font-size: 1.2rem;
    }

    &.form-w-button {
        display: flex;
        flex-wrap: wrap;

        input {
            flex: 1 1 auto;
            width: auto;
            border-radius: 5px 0 0 5px;
            border-right-width: 0;
        }

        button {
            padding: 0 1.4rem;
            border-radius: 0 5px 5px 0;
            border-width: 1px;
            border-color: #000;
            background-color: #000;
            color: #fff;

            &:hover {
                border-color: darkgray;
                background-color: darkgray;
                color: #000;
            }
        }
    }
}

/*  RADIO - CHECKBOX */

.radio-wrap,
.check-wrap {
    display: block;
    width: 100%;
}

.radio-wrap input[type="radio"] {
    background: url("~/assets/images/common/radio_empty.svg") no-repeat (center / contain);
    width: 2.4rem;
    height: 2.4rem;

    &:checked {
        background-image: url("~/assets/images/common/radio_active.svg");
    }

    &:disabled {
        background-image: url("~/assets/images/common/radio_disabled_empty.svg");

        &:checked {
            background-image: url("~/assets/images/common/radio_disabled.svg");
        }
    }
}

.check-wrap input[type="checkbox"] {
    background: url("~/assets/images/common/check_disabled.svg") no-repeat (center / contain);
    width: 2.4rem;
    height: 2.4rem;

    &:checked {
        background-image: url("~/assets/images/common/check_active.svg");
    }
}

.radio-wrap label,
.check-wrap label {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}

.radio-wrap label span,
.check-wrap label span {
    margin-left: 0.4rem;
}

/* alert */

.invalid {
    border-color: #ef4444;
}
